$mainClass: book__pages;

.#{$mainClass} { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34%; //tablet 40%;
    height: 74vh;

    //left pages' common styles
    &--left {
      z-index: 2;
      transform: translate(-100%, -50%);

      .#{$mainClass}__blank-pages {
        transform-origin: bottom right;
        transform: scale(0.99,.98) translate(3px,-12px) rotate(2deg) skew(4deg);
      }
    }

    //right pages' common styles
    &--right {
      z-index: 2;
      transform: translate(0%, -50%);

      .#{$mainClass}__blank-pages {
        transform-origin: bottom left;
        transform: scale(0.94,.98) translate(107%,-100%) rotate(180deg) skew(-1deg)
      }
    }

    //page's common style
    &__blank-pages {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }

    //Blank pages holder
    &__blank-pages {
      svg {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: visible;
      }
    }

    //TEXT page
    @import './pText';

    //MAP page
    @import './pMap';
  }