$mainClass: book__pages__map;

.#{$mainClass} {
    background-color: transparent;
    border-image: none;
    
    &::before {
        display: none;
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 7px);
        transform-origin: bottom right;
        transform: scale(1.02,1.02) translate(1px,-13px) rotate(0.2deg);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 2px;
            width: calc(93% - 3px);
            height: 100%;
            background-image: $pageDepth;
            background-blend-mode: darken;
          }

        svg {
            width: 100%;
            height: 100%;
            overflow: visible;
        }
    }

    &__mbox, &__rear, &__tapes {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 92%;
        transform: translate(-52%,-52%) rotate(1.2deg);
        mask-image: url('../images/common/mask_map_inner.svg');
        mask-position: center center;
        mask-size: cover;
        mask-repeat: no-repeat;
    }

    &__rear {
        width: 86%;
        height: 90%;
        background-color: $mapShadow;
        transform: translate(-50%,-54%) rotate(1.4deg);
    }

    &__tapes {
        pointer-events: none;
        mask-image: none;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-53%, -53%) rotate(-5deg);
            width: 100%;
            height: 108%;
            filter: sepia(0.5) saturate(0.8);
        }
    }

    &__mbox {
        section#map {
            width: 100%;
            height: 100%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            filter: sepia(0.68) contrast(0.9) brightness(1) saturate(0.6);

            @at-root .map__marker {
                position: absolute;
                width: 5px;
                height: 5px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-image: url('../images/common/marker.svg');
                filter: sepia(0) contrast(1) brightness(1) saturate(6);
                &--0 {
                    background-image: url('../images/common/marker0.svg');
                }
                &--1 {
                    background-image: url('../images/common/marker1.svg');
                }
            }

            @at-root .map__path {
                opacity: 0.6;
                stroke-width: 0.8px;
                filter: sepia(0) contrast(1) brightness(1) saturate(6);
                &--0 {
                    stroke: $subject0;
                }
                &--1 {
                    stroke: $subject1;
                }
            }

            @at-root .map__popup {
                overflow-y: scroll;
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}