$mainClass: app__preloader;

.#{$mainClass} { 
    z-index: 9999;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $page;
    background-image: none; //url('../images/common/bg_texture.jpg');
    background-size: auto 100vh; 
    background-repeat: repeat;
    opacity: 1;
    transition: all $easeInOutCirc 0.6s;

    &.on-page-ready {
        opacity: 0;
        z-index: -9999;
    }

    .loader {
        color: $tape;
        font-size: 90px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        filter: blur(2px);
        opacity: 0.7;
        margin: 72px auto;
        position: relative;
        animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    }

    .loader--inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        .spinner-eff {
            position: absolute;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            transform: translateX(-50%, -50%);
            width: 60px;
            height: 60px;
            
            &:before,&:after {
              content: "";
              display: block;
            }
            
            .spinner-bar {
              &:before, &:after {
                content: "";
                display: block;
              }
            }
        }

        .spinner-eff.spinner-eff-3 {
            .circle {
              border-radius: 100px;
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              transform: scale(1);
              transform-origin: center center;
              
              &-1 {
                width: 100%;
                height: 100%;
                background-color: lighten($highlight, 25%);
                top: 0;
                animation: pulse 3.4s linear 0s infinite;
              }
              
              &-2 {
                width: 66.6%;
                height: 66.6%;
                background-color: $highlight;
                top: 16.5%;
                animation: pulse-2 3.4s linear 0s infinite;
              }
              
              &-3 {
                width: 33.3%;
                height: 33.3%;
                background-color: $highlight;
                top: 33.3%;
              }
            }
          }
          
    }
      
}