$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

//Mask transition 
.transition {
    animation: mask-play 3s steps(24) infinite;
    & > * {
        animation: fade 2s ease-in-out infinite;
        animation-delay: 0.7s;
    }
}

@keyframes mask-play {
    0% {
        mask-position: 0% 0;
    }
    50% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 0% 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  